:root {
    --main-color: #B8CEF7;
    --bg-color: #D9D9D950;
    --font-main-color: #000;
    --font-color: #00000060;
    --font-weight: 400;
    --main-font-size: 17px;
    --info-font-size: 14px;
    --small-font-size: 11px;
    --padding-page: 60px;
    --buttons-color: #CBCBCB;
}

.calendrier-container {
    padding: 1.5rem 2rem 1.2rem 2rem;
    border-top-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    position: relative;
}

.calendrier-container h2 {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 500;
}


.calendrier-container .grid-container{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    overflow-y: auto;
}

.grid-container .type-payment{
    background-color: #D9D9D9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1.7rem;
    height: 100%;
    flex: 1 1 58%;
    gap: 0.5rem;
}

.type-payment .title-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title-line .icons{
    display: flex;
    gap: 0.7rem;
    height: 100%;
}

.title-line .circle{
    width: 48px;
    height: 48px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}

.type-payment h2{
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 550;
}

.type-payment .container-parametres{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
    justify-content: space-between;
    gap: 0.4rem;
}

.container-parametres .dates-calcul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dates-calcul .date{
    display: flex;
    gap: 6px;
}

.dates-calcul .date p, .dates-evenements p{
   font-size: 0.8rem;
   color: #00000080;
   text-transform: capitalize;
}

.les-parametres span{
    font-size: 0.8rem;
    color: #00000080;
    text-transform: capitalize;
}

.date span, .parametres-heure span{
    font-size: 0.8rem;
    text-transform: capitalize;
}

.container-parametres .parametres-heure{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.parametres-heure .les-parametres{
    display: flex;
    padding: 0.2rem 1rem;
}



.les-parametres::-webkit-scrollbar{
    display: none;
}

.les-parametres table tr{
    padding: 6px;
    width: 100%;
    border-bottom: 1.5px solid #00000015 ;
}

.les-parametres table td{
    text-align: left;
    padding: 0.5rem 0;
    border-bottom: 1.5px #00000015 solid;
    width: 33.33%;
    padding-left: 8px;
    align-self: flex-end;
    vertical-align: bottom;
}


.les-parametres p{
    font-size: 0.8rem;
    color: #000000;
    text-transform: capitalize;
    margin-top: 6px;
}


/*------------------*/

.grid-container .container-evenements{
    background-color: #D9D9D9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1.2rem 0.9rem 0 0.9rem;
    gap: 0.7rem;
    flex-grow: 1;
}

.container-evenements .ajouter-evenement{
    width: 100%;
    background-color: var(--main-color);
    padding: 0.8rem;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 1px 2px 20px 4px rgb(14 55 54 /15%);
    color: #000;
    cursor: pointer;
}

.container-evenements h3{
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 550;
}

.container-evenements .dynamic-list{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 300px;
}

.container-evenements .dynamic-list::-webkit-scrollbar{
    display: none;
}

.dynamic-list .evenement-line{
    width: 100%;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    border-bottom: 1.5px solid #00000015;
}

.evenement-line .evenement-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.evenement-title p{
    text-transform: capitalize;
    font-weight: 600;
}

.evenement-line .evenement-modifier-button{
    display: flex;
    gap: 0.7rem;
    justify-content: center;
    align-items: center;
}

.evenement-line .dates-evenements{
    margin-left: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.dates-evenements .date{
    display: flex;
    gap: 6px;
}

/*----------Modification----------*/

.grid-container .container-ajouter-evenement{
    max-width: 500px;
    min-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #D9D9D9;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 20px 4px rgb(14 55 54 /15%); 
}

.container-ajouter-evenement h2, .container-modifier-mode h2{
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 550;
}

.container-ajouter-evenement .line-decoration, .container-modifier-mode .line-decoration{
    width: 80%;
    height: 1.5px;
    background-color: #00000015;
    align-self: center;
    border-radius: 3px;
}

.container-ajouter-evenement form, .container-modifier-mode form{
    width: 100%;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
}



.container-ajouter-evenement .input-line, .container-modifier-mode .input-line{
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.container-ajouter-evenement .input-line{
    gap: 1rem;
}

.input-line label{
    color: #00000080;
    text-transform: capitalize;
    font-size: 15px;
}

.input-line input{
    border-radius: 9px;
    outline: none;
    border: none;
    padding: 0 10px;
    height: 28px;
    flex-grow: 1;
    text-transform: capitalize;
    max-width: 190px;
    font-weight: 545;
}

.container-ajouter-evenement .ajoute-evenement-btns{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 0.7rem;
}

.ajoute-evenement-btns button{
    background-color: #fff;
    color: #000;
    font-size: 0.85rem;
    padding: 8px 12px;
    border-radius: 1rem;
    border: none;
    text-transform: capitalize;
    font-size: 14px;
    min-width: 7.5rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.ajoute-evenement-btns .sauvegarder-btn{
    background-color: var(--main-color);
}

/*---------modifier mode-----------*/

.grid-container .container-modifier-mode{
    max-width: 600px;
    min-width: 510px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #D9D9D9;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 20px 4px rgb(14 55 54 /15%); 
}

.container-modifier-mode form{
    overflow-y: auto;
}

.container-modifier-mode form::-webkit-scrollbar{
    display: none;
}

.container-modifier-mode .progress-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 6px;
}

.progress-bar .progress-part{
    position: relative;
}

.progress-part  span{
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    background-color: var(--main-color);
    width: 0px;
    height: 6px;
    transition: 1.2s;
}

.container-modifier-mode .mode-butns{
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1.5px #00000015 solid;
}

.container-modifier-mode button{
    min-width: 10rem;
    background-color: #C6C6C6;
    color: #000;
    padding: 8px 12px;
    border-radius: 1rem;
    border: none;
    background-color: var(--buttons-color);
    text-transform: capitalize;
    font-size: 14px;
    min-width: 7.5rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.mode-butns button{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    min-width: 10rem;
    background-color: #C6C6C6;
    color: #000;
    padding: 8px 12px;
    border: none;
    background-color: var(--buttons-color);
    text-transform: capitalize;
    font-size: 14px;
    min-width: 7.5rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.mode-butns button:hover{
    background-color: var(--main-color);
}

.mode-butns .clicked{
    background-color: var(--main-color);
}

.container-modifier-mode .input-line input{
    max-width: 200px;
    min-width: 150px;
}

.container-modifier-mode .input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.container-modifier-mode .input-container p{
    color: #C51818;
    font-size: var(--small-font-size);
}

.container-modifier-mode .modifier-mode-btns{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 0.7rem;
}

.modifier-mode-btns button{
    background-color: #fff;
    color: #000;
    font-size: 0.85rem;
}

.modifier-mode-btns .sauvegarder-btn{
    background-color: var(--main-color);
}

/*---------Supprimer Evenements ---------*/

.form-supprimer-evenement{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #D9D9D9;
    max-width: 500px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 1px 2px 20px 4px rgb(14 55 54 /15%); 
}

.container-supprimer-evenement{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
}

.container-supprimer-evenement .warning-circle{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6949E80;
    border-radius: 50%;
}

.container-supprimer-evenement p{
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.container-supprimer-evenement button{
    padding: 8px 12px;
    border-radius: 1rem;
    border: none;
    background-color: #fff;
    text-transform: capitalize;
    font-size: 0.8rem;
    color: #000;
    min-width: 7.5rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.container-supprimer-evenement .supprimer-evenement-btns{
    display: flex;
    gap: 1rem;
}

.supprimer-evenement-btns .supprimer{
    background-color: #C51818;
    color: #fff;
}

/*-------warning interface-------*/

.warning-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #D9D9D9;
    max-width: 500px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 1px 2px 20px 4px rgb(14 55 54 /15%);
    gap: 1.3rem;
}

.warning-container .warning-circle{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6949E80;
    border-radius: 50%;
}

.warning-container p{
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.warning-container .warning-btns{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.warning-btns button{
    padding: 6px 12px;
    border-radius: 1rem;
    border: none;
    background-color: #fff;
    text-transform: capitalize;
    font-size: 0.9rem;
    color: #000;
    min-width: 7rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-family: 'DM sans', sans-serif;
    font-weight: 520;
}

/*------Confirmation du calcul----------*/

.confirmation-circle{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8DF79E;
    border-radius: 50%;
    opacity: 0.8;
}

.confirmation-btns{
    margin-right: 0px;
}

.circle-calcul::after{
content: 'lancer calcul';
position: absolute;
top: 100%;
font-size: 14px;
width: 90px;
left: 50%;
transform: translateX(-50%);
text-align: center;
background-color: #B8CEF7;
padding: 4px;
border-radius: 8px;
text-transform: capitalize;
font-weight: 500;
opacity: 0;
transition: 0.3s;
}


.circle-calcul:hover::after {
    opacity: 1;
}

.circle-modifier::after{
content: 'Modifier';
position: absolute;
top: 100%;
font-size: 14px;
width: 90px;
left: 50%;
transform: translateX(-50%);
text-align: center;
background-color: #B8CEF7;
padding: 4px;
border-radius: 8px;
text-transform: capitalize;
font-weight: 500;
opacity: 0;
transition: 0.3s;
}

.circle-modifier:hover::after {
    opacity: 1;
}

@media screen and (max-width: 700px){

    .calendrier-container{
        overflow-y: auto;
    }

    .calendrier-container .grid-container{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        align-items: center;
    }

    .grid-container .type-payment{
        width: 500px;
    }

    .grid-container .container-evenements{
        width: 500px;
        max-height: 500px;
    }

    .grid-container .container-calender{
        width: 500px;
        max-height: 350px;
    }
}

@media screen and (max-height: 600px){
    .les-parametres{
        height: 300px;
        overflow: auto;
    }
}

@media screen and (max-height: 500px){
    .les-parametres{
        height: 250px;
        overflow: auto;
    }
}