:root {
    --main-color: #B8CEF7;
    --bg-color: #D9D9D950;
    --font-main-color: #000;
    --font-color: #00000060;
    --font-weight: 400;
    --main-font-size: 17px;
    --info-font-size: 14px;
    --small-font-size: 11px;
    --padding-page: 60px;
    --buttons-color: #CBCBCB;
}

.dashboard-container{
    padding: 1.5rem 2rem 1.2rem 2rem;
    border-top-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    overflow-x: hidden;
}

.dashboard-container h2 {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 550;
}

.dashboard-container .infos-container{
    display: flex;
    flex-grow: 1;
    width: 100%;
    gap: 0.7rem;
}

.dashboard-container .infos-container > div {
    flex-grow: 1;
    width: 50%;
    max-height: 200px;
    min-height: 180px;
    background-color: #D9D9D9;
    border-radius: 8px;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.infos-container .calcul-infos .montant-container{
    display: flex;
    width: 100%;
}

.montant-container .montant-info{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.montant-container .montant-info:first-child{
    border-right: 2px solid #00000015;
}

.montant-info h2{
    font-weight: 500;
    text-transform: uppercase;
}

.montant-info p{
    color: #00000080;
}

.calcul-infos .progress-bar{
    width: 100%;
    position: relative;
   display: flex;
   flex-direction: column;
   gap: 6px;
}

[role="progressbar"]{
    padding: 0 6px !important;
}

[role="progressbar"] > div {
    height: 10px !important;
    background-color: #EAEAEA !important;
    overflow: visible !important;
}

[role="progressbar"] > div > div{
    background-color: var(--main-color) !important;
    height: 10px !important;
    position: relative !important;
}

[role="progressbar"] > div > div > span{
    position: absolute !important;
    right: -10%;
    top: -30px !important;
    z-index: 20 !important;
    color: #000 !important;
    display: block !important;
    background-color: var(--main-color) !important;
    font-weight: 400 !important;
    font-size: 0.8rem !important;
    border-radius: 20px;
    padding: 10px 8px;
    width: auto !important;
}

.progress-bar .dates{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dates span{
    font-size: 13px;
}

/*----------les evenements--------------*/

.evenements-container .les-evenements{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.les-evenements .un-evenement{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    gap: 6px;
}

.les-evenements .un-evenement:first-child{
    border-right: 2px solid #00000015;
}

.un-evenement .title{
    font-size: 1rem;
    background-color: var(--main-color);
    padding: 0.5rem;
    border-radius: 13px;
    text-transform: capitalize;
    font-weight: 500;
}

.un-evenement .date-line{
    width: 100%;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.date-line p{
    font-size: 0.9rem;
    text-transform: capitalize;
    color: #00000050;
}

.date-line span{
    font-size: 0.9rem;
    color: #000;
}

/*----------bar chart container--------------*/

.charts-container{
    flex-grow: 1;
    display: flex;
    width: 100%;
    gap: 0.7rem;
}

.charts-container .bar-chart{
    min-width: 66%;
    background-color: #D9D9D9;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.bar-chart .title-chart{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.title-chart .circle{
    width: 50px;
    height: 50px;
    background-color: #FAFAFA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar-chart .bar-chart-container{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*--------------Calendrier----------------*/

.charts-container .container-calender{
    background-color: #D9D9D9;
    border-radius: 8px;
    padding: 0 1rem;
}

.container-calender .react-calendar{
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: transparent;
    border: none;
    justify-content: space-evenly !important;
    line-height: initial;
    width: auto !important;
    height: 100%;
}

.container-calender .react-calendar__navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 0px;
}

.react-calendar__navigation .react-calendar__navigation__label{
    text-align: left;
    text-transform: capitalize;
}

.react-calendar .react-calendar__navigation button{
    background-color: transparent;
    border: none;
    font-size: 25px;
}

.react-calendar__navigation .react-calendar__navigation__prev2-button {
    display: none;
}

.react-calendar__navigation .react-calendar__navigation__next2-button{
    display: none;
}

.react-calendar__navigation .react-calendar__navigation__prev-button{
    order: 2;
    width: 30px;
}

.react-calendar__navigation .react-calendar__navigation__next-button{
    order: 3;
    width: 30px;
}

.react-calendar__viewContainer .react-calendar__month-view__weekdays__weekday{
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
}

.react-calendar__month-view__weekdays__weekday abbr{
    text-decoration: none;
    color: #00000080;
}

.react-calendar__month-view__weekdays{
    border-bottom: 1.5px solid #00000015;
    margin-bottom: 6px;
}

.react-calendar__month-view__days button{
    background-color: transparent !important;
    border: none;
    padding: 4px 0px;
    border-radius:  8px;
    margin-bottom: 4px !important;
}

[aria-label^="1"],
[aria-label^="2"],
[aria-label^="3"],
[aria-label^="4"],
[aria-label^="5"],
[aria-label^="6"],
[aria-label^="7"],
[aria-label^="8"],
[aria-label^="9"] {
    /* Your styles here */
    /* For example */
    padding: 6px 10.3px;
    background-color: #fff;
}
[aria-label^="10"],
[aria-label^="11"],
[aria-label^="12"],
[aria-label^="13"],
[aria-label^="14"],
[aria-label^="15"],
[aria-label^="16"],
[aria-label^="17"],
[aria-label^="18"],
[aria-label^="19"],
[aria-label^="20"],
[aria-label^="21"],
[aria-label^="22"],
[aria-label^="23"],
[aria-label^="24"],
[aria-label^="25"],
[aria-label^="26"],
[aria-label^="27"],
[aria-label^="28"],
[aria-label^="29"],
[aria-label^="30"],
[aria-label^="31"] {
    /* Your styles here */
    /* For example */
    padding: 6px 7px;
    background-color: #fff;
}

.react-calendar__month-view__days .react-calendar__tile--now{
    background-color: transparent !important;
}

.react-calendar__month-view__days .react-calendar__tile--now abbr{
    background-color: var(--main-color) !important;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
    background: #B8CEF7 !important;
}

.react-calendar__year-view__months .react-calendar__year-view__months__month{
   padding: 1em 0 !important;
}

.react-calendar__year-view__months__month abbr{
    text-transform: capitalize;
    font-weight: 500;
}

.react-calendar__year-view__months .react-calendar__tile--now, .react-calendar__decade-view__years .react-calendar__tile--now, .react-calendar__century-view__decades .react-calendar__tile--now {
    background: var(--main-color) !important;
}

.react-calendar__year-view .react-calendar__tile, .react-calendar__decade-view .react-calendar__tile, .react-calendar__century-view .react-calendar__tile {
    padding: 1em 0 !important;
}

@media screen and (max-width: 700px){
    .infos-container{
        flex-wrap: wrap
    }

    .infos-container > div{
        width: 100%;
        min-height: 180px;
    }

    .dashboard-container{
        overflow-y: auto;
        overflow-x: hidden;
    }

    .charts-container{
        flex-wrap: wrap;
    }

    .charts-container .bar-chart{
        width: 100%; 
    }

    .container-calender{
        height: auto;
        width: 100%;
        padding: 2rem !important;
    }

    [role="progressbar"] > div > div > span{
        right: 0;
    }
}