<!-- teacher_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers Information</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h2>Teachers Information</h2>

<table>
    <thead>
        <tr>
            <th>Numero</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Grade</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.Matricule }}</td>
            <td>{{ teacher.Nom }}</td>
            <td>{{ teacher.Prénom }}</td>
            <td>{{ teacher.Grade }}</td>
            <td>{{ teacher.Email }}</td>
           <td><a href="{% url 'teacher_detail' teacher.Matricule %}">Show More</a></td> 
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>

